@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --animate-float: float 3s ease-in-out infinite;
  --animate-revolve: revolve 3s linear infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }

  @keyframes revolve {
    0% {
    transform: translate(0, -10px);
  }
  12.5% {
    transform: translate(7px, -7px);
  }
  25% {
    transform: translate(10px, 0);
  }
  37.5% {
    transform: translate(7px, 7px);
  }
  50% {
    transform: translate(0, 10px);
  }
  62.5% {
    transform: translate(-7px, 7px);
  }
  75% {
    transform: translate(-10px, 0);
  }
  87.5% {
    transform: translate(-7px, -7px);
  }
  100% {
    transform: translate(0, -10px);
  }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.3s ease-in-out;
}
